<!DOCTYPE html>
<html>
    <head>
        <title>Customer Info</title>
        <meta charset="utf-8">
        <script type="text/javascript" src="../js/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="../js/CustomerDetailsScript.js"></script>
        <script type="text/javascript" src="../js/cookie.js"></script>
    </head>
    <body>
        <center><h2>Customer Info</h2></center>
        <hr>
        <br>
        <br>
        <br>
        <br>
        <center>
            <fieldset style="width: fit-content;">
                <table id="customerInfo" width="200px">
                
                </table>
            </fieldset>
            <p id="msg" style="color: red;"></p>
            <a href="ShipperHome.html">Back</a>
        </center>
    </body>
</html>