<!DOCTYPE html>
<html>
    <head>
        <title>Customer Registeration</title>
        <meta charset="utf-8">
        <script type="text/javascript" src="../js/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="#"></script>
    </head>
    <body>
        <center>
            <h2>Register</h2>
            <hr>
            <br>
            <br>
            <br>
            <br>
            <br>
            <form id="registerForm">
                <fieldset style="width: fit-content;">
                    <table>
                        <tr>
                            <td>Username: </td>
                            <td><input type="text" id="usernameText" placeholder="Username"></td>
                        </tr>
                        <tr>
                            <td>Password: </td>
                            <td><input type="password" id="passwordText" placeholder="Password"></td>
                        </tr>
                        <tr>
                            <td>Confirm Password: </td>
                            <td><input type="password" id="passwordConfText" placeholder="Retype Password"></td>
                        </tr>
                        <tr>
                            <td>First Name: </td>
                            <td><input type="text" id="firstNameText" placeholder="First Name"></td>
                        </tr>
                        <tr>
                            <td>Last Name: </td>
                            <td><input type="text" id="lastNameText" placeholder="Last Name"></td>
                        </tr>
                        <tr>
                            <td>Gender: </td>
                            <td><input type="radio" name="gender" value="male"> Male <input type="radio" name="gender" value="female"> Female </td>
                        </tr>
                        <tr>
                            <td>Date of Birth: </td>
                            <td><input type="date" id="dob" style="width: 170px;"></td>
                        </tr>
                        <tr>
                            <td>Address: </td>
                            <td><textarea id=addressText style="width:170px;" placeholder="Address"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr><center><button id="registerbtn">Register</button></center></td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr><center>Already have an account? Login <a href="index.html">here</a>.</center></td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </center>
    </body>
</html>