<!DOCTYPE html>
<html>
    <head>
        <title>Shipper Login</title>
        <meta charset="utf-8">
        <script type="text/javascript" src="../js/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="../js/ShipperLoginScript.js"></script>
        <script type="text/javascript" src="../js/cookie.js"></script>
    </head>
    <body>
        <center>
            <h2>Shipper Login</h2>
            <hr>
            <br>
            <br>
            <br>
            <br>
            <br>
            <form id="loginForm">
                <fieldset style="width: fit-content;">
                    <table style="text-align: center;">
                        <tr>
                            <br>
                            <td>Username: </td>
                            <td><input type="text" id="usernameText" placeholder="Username"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><p id="usernameErr" style="color: red;"></p></td>
                        </tr>
                        <tr>
                            <td>Password: </td>
                            <td><input type="password" id="passwordText" placeholder="Password"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><p id="passwordErr" style="color: red;"></p></td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr><input type="submit" value="Login" id="login"> Not a shipper? <a href="index.html">Login as a customer</a></td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr><a href="#">Login as admin</a></td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </center>
    </body>
</html>